[http]
	proxy = socks5://127.0.0.1:1080
[https]
	proxy = socks5://127.0.0.1:1080
[core]
	quotepath = false
[user]
	email = x_hsky@163.com
	name = sky
[credential]
	helper = store
[safe]
	directory = /home/sky/code/autodep
[init]
	defaultBranch = main
